
<% var flats = [
{ "id":"M1", "name":"1", "etap":1, "building":"1", "rooms_count":"3", "area":"23.50", "terrace":"20.33", "garden":"21.30",
"floor":"0", "state":{"value":"free","label":"Wolne"}, "price":"427031", "sale_price":"" }, { "id":"M2", "name":"2", "etap":1,
"building":"1", "rooms_count":"3", "area":"11.50", "terrace":"24.33", "garden":"22.30", "floor":"0", "state":{"value":"sale","label":"Promocja"},
"price":"427035","sale_price":"10000" }, { "id":"M3", "name":"3", "etap":1, "building":"1", "rooms_count":"3", "area":"113.50",
"terrace":"13.33", "garden":"24.35", "floor":"1", "state":{"value":"free","label":"Wolne"}, "price":"427335","sale_price":""
}, { "id":"M4", "name":"4", "etap":1, "building":"2", "rooms_count":"3", "area":"223.50", "terrace":"34.33", "garden":"23.32",
"floor":"1", "state":{"value":"sold","label":"Sprzedane"}, "price":"427033","sale_price":"" }, { "id":"M5", "name":"5", "etap":1,
"building":"3", "rooms_count":"3", "area":"44.50", "terrace":"35.33", "garden":"56.30", "floor":"1", "state":{"value":"sold","label":"Sprzedane"},
"price":"427035","sale_price":"" }, { "id":"M6", "name":"6", "etap":2, "building":"5", "rooms_count":"3", "area":"73.10",
"terrace":"11.33", "garden":"123.30", "floor":"2", "state":{"value":"sold","label":"Sprzedane"}, "price":"422035","sale_price":""
}
]; %>
<ul>
    <% for(var i=0; i<flats.length;
    i++) { %>
        <li>
            <%= flats[i].id %>
            <%= flats[i].name %>
        </li>
    <% } %>
</ul>
